<form [formGroup]="partidoForm" (ngSubmit)="onSubmit()" class="canvas">
  <!-- NAVBAR -->
  <div class="navbar">
    <button type="button" class="back-btn" (click)="goBack()">← Volver</button>
    <span class="navbar-title">Registro de Partido</span>
  </div>

  <div class="form-container">
    <!-- CAMPO -->
    <label>NOMBRE ORGANIZACIÓN POLÍTICA</label>
    <input type="text" formControlName="nombre" />

    <label>SIGLA</label>
    <input type="text" formControlName="sigla" />

    <!-- ARCHIVOS -->
    <div class="files-section">
      <h3>Documentación requerida</h3>

      <div class="files-grid">
        <div
          class="file-card"
          *ngFor="let file of fileTypes; let i = index"
          [class.bottom]="i >= 3"
        >
          <span class="file-title">{{ file.label }}</span>

          <!-- INPUT -->
          <input
            type="file"
            accept="application/pdf"
            hidden
            (change)="onFileChange($event, file.key)"
            #fileInput
          />

          <!-- BOTÓN -->
          <div class="upload-btn" *ngIf="!archivos[file.key]" (click)="fileInput.click()">
            Subir PDF
          </div>

          <!-- PREVIEW -->
          <div class="preview" *ngIf="archivos[file.key]">
            <div class="preview-content">
              <span class="pdf-icon">📄</span>
              <span class="file-name">
                {{ archivos[file.key].name }}
              </span>
            </div>

            <button type="button" class="remove-btn" (click)="removeFile(file.key)">✕</button>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="submit-btn">Solicitar aprobación</button>
  </div>
</form>
